body {
    margin: 0;
}
.full {
    width: 100%;
    background-color: transparent;
}
#popup-outer {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(190,190,190,0.7);
    z-index: 100;
    top: 0px;
    overflow: scroll; 
    display: none;
}
#popup-content {
    background-color: white;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 30px;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}
#popup-close-button {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #009da3;
    color: white;
    margin-top: 30px;
    margin-left: 250px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    position: fixed;
    font-size: 30px;
}
.works-image {
    width: 650px;
    height: auto;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
.works-text {
    width: 550px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: white;
    color: grey;
    text-align: justify;
    line-height: 25px;
}
.site_structure {
    background-color: transparent;
    max-width: 980px;
    position: static;
    margin: 0 auto;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header {
    background-color: transparent;
    height: 280px;
    width: 100%;
}
.logotype {
    background-color: white;
    width: 310px;
    height: px;
    margin: 0 auto;
}
.logotype-img {
    display: inline-block;
    float: left;
    width: 100px;
    margin-left: 100px; 
    margin-top: 20px; 
}
/*箭頭碰到大頭貼時會出現打招呼的對話框*/
.sayhi {
    display: inline-block;
    float: left;
    width: 100px;
    margin-top: 25px; 
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ;
}
.logotype-img:hover + .sayhi {
    opacity: 1;
}

.name {
    background-color: white;
    height: 50px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.name > img {
    width: 180px;
    padding-top: 10px;    
}
.nav {
    background-color: white;
    height: 100px;
    width: 300px;
    margin: 0 auto;
    margin-top: 160px;
}
.bottons1 {
    background-color: rgba(0,0,0,0);
    width: 90px;
    margin-right: 7px;
    height: 150px;
    display: inline-block;
}
.bottons {
    background-color: #ccffee;
    width: 90px;
    margin-right: 7px;
    height: 45px;
    display: inline-block;
    font-size: 9.5px;
    text-align: center;
    color: #009da3;
    border-radius: 5px;
}
.bottons:hover {
    color:white;
    background-color: #009da3; 
    text-decoration: none;
    font-size: 10.5px;
    height: 47px;
    width: 95px;
    margin-right: 3px; 
    cursor: pointer;
}
/*下拉式選單*/
.works {
    background-color: #009da3;
    border-radius: 5px;
    position: absolute;
    width: 95px;
    height: 114px;
    margin-top: 5px;
    z-index: 10;
    display: none;}
/*下拉式選單選項*/
.works-bottons {
    height: 25px;
    width: 90px;
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    margin-left: 2.5px;
    margin-top: 2px;
    text-align: center;
    background-color: #009da3;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;/*字首大寫*/
}
.works:hover {
    display: block;
}
.bottons1:hover  .works {
    display: block;
}
.bottons1:hover .bottons {
    color:white;
    background-color: #009da3; 
    text-decoration: none;
    font-size: 10.5px;
    height: 47px;
    width: 95px;
    margin-right: 3px; 
    cursor: pointer;
}
.works-bottons:hover {
    cursor: pointer;
    background-color: #66c4c7;
    font-size: 17px;
}
.bottons:visited {
    text-decoration: none;
}
.content {
    background-color: white;
    width: 300px;
    height: 1200px;
    display: inline-block;
    margin-right: 12px;
    margin-left: 12px; 
    float: left;
    animation-name: fade-in;
    animation-duration: 1s;
}
/*往左的移動元素*/
.move {
    position: absolute;
    width: 300px;
    margin-top: 20px;
    margin-left: 324px;
    cursor:zoom-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1s;
}
.move-left {
    height: 450px;
    background-color: transparent;
    animation-name: move-left;
}
@keyframes move-left {
    from {
        margin-top: 20px;
        margin-left: 324px;
}
    to {
        margin-left: 0px;
        margin-top: 340px;
}
}
/*往右的移動元素*/
.move-right {
    height: 450px;
    background-color: transparent;
    animation-name: move-right;
}
@keyframes move-right {
    from {
        margin-top: 20px;
        margin-left: 324px;
}
    to {
        margin-left: 648px;
        margin-top: 340px;
}
}
/*往下的移動元素*/
.move-bottom {
    height: 300px;
    background-color: transparent;
    animation-name: move-bottom;
}
@keyframes move-bottom {
    from {
        margin-top: 20px;
        margin-left: 324px;
}
    to {
        margin-left: 324px;
        margin-top: 490px;
}
}

.content1 {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    cursor:zoom-in;
}
.content1 > img {
    width: 301px;
}
.content2 {
    background-color: white;
    width: 300px;
    height: 450px;
    margin-top: 20px; 
    cursor:zoom-in;
}
.footer {
    background-color: white;
    margin: 0 auto;
    height: 100px;
    width: 400px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 150px;
}
.footer > h2 {
    font-size: 7px;
    text-align: center;
    color: grey;
}
.all-links {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
.link {
    width: 40px;
    height: 40px;
    background-color: white; 
    display: inline-block;
    margin: 0 auto; 
    margin-left: 5px;
    background-size: 40px;
}

