<!--我的自畫像ㄦ-->
<style type="text/css">
    .about-wrapper {
        width: 600px;
        margin: 0 auto;
        background-color: ;
        margin-top: 20px;
        animation-name: fade-in;
        animation-duration: 1s;
    }
    .about-nav {
        position: fixed;
        background-color: ;
        height: 120px;
        width: 120px;
        z-index: 10;
        right: 21%;
    }
    .triangle {
        width: 0px;
        height: 0px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #ccffee transparent transparent;
        position: absolute;
        margin-top: 3.5px;
        margin-left: -5px;
    }
    .about-bottons {
        width: 90%;
        margin-left: 10%;
        height: 36px;
        margin-bottom: 4px;
        background-color: #ccffee;
        border-radius: 4px;
        color: #009da3;
        padding-left: 10px;
        padding-top: 7px;
        cursor: pointer;
    }
    .about-botton:hover > .about-bottons {
        background-color: #009da3;
        color: white;
    }
    .about-botton:hover > .triangle {
        border-color: transparent #009da3 transparent transparent;
    }

    .self-portrait {
        margin: 0 auto;
        width: 480px;
        height: 480px;
        background-color: white;
        padding-top: 20px;
        border-radius: 5px;
        border: 5px solid;
        border-color: #b2e1e3 #66c4c7 #66c4c7 #b2e1e3;
    }
    .my-self-portrait {
        width: 450px;
        height: 450px;
        background-color: yellow;
        margin: 0 auto;
    }
    .about-me {
        margin-top: 30px;
        width: 450px;
        height: 1800px;
        background-color: ;
        margin: 0 auto;
        margin-top: 40px;
        padding: 30px 20px 40px 20px;
    }
    .self-introduction > p {
        line-height: 23px;
        text-indent : 2em;
        font-size: 14px;
        color: #007d82;
        text-align: justify;
    }
    .about-me-brief {
        line-height: 30px;
        padding-bottom: 10px;
    }
    .text {
        margin-bottom: 40px;
    }
    .text > h3 {
        font-size: 16px;
    }
    .circle {
        background-color: blue;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: relative;
    }
     table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    th , td {
        text-align: left;
    }
    th {
        font-size: 14px;
        background-color: ;
        border-bottom: 1px solid #b2d8d9;
        padding: 12px;
    }
    td {
        font-size: 14px;
        padding: 12px;
    }
    tr:nth-child(even) {
        background-color: #e5f2f2;
    }
    .myProgress {
        margin-top: -2px;
        position: relative;
        width: 250px;
        height: 20px;
        border-radius: 10px;
        background-color: #00b6bd;
    }
    .myBar {
        margin-top: 2px;
        margin-left: 2px;
        position: absolute;
        height: 16px;
        border-radius: 8px;
        background-color: #ccffee;
        
    }
    .label {
        font-size: 10px;
        margin-top: 2px;
        margin-left: 15px;
        color: #00b6bd;
    }
    .MAX {
        width: 20%;
    }
    .MD{
        width: 40%;
    }
    .PS {
        width: 80%;
    }
    .AI {
        width: 80%;
    }
    .ID {
        width: 60%;
    }
    .CSS {
        width: 40%;
    }
    .HTML {
        width: 40%;
    }
    .JS {
        width: 20%;
    }
    .my-experience {
        width: 100%;
        height: 800px;
        background-color: blue;
    }
    .time {
        width: 20%;
        height: 90%;
        background-color: pink;
        float: left;
        padding-top: 13px;
        padding-left: 5px;
    }
    .time-text {
        width: 90%;
        height: 15px;
        background-color: white;
        margin-bottom: 60px;
        font-size: 15px;
    }
    .time-progress {
        width: 5%;
        margin-left: ;
        float: left;
        height: 95%;
        background-color: yellow;
    }
    .time-bar {
        width: 40%;
        height: 100%;
        background-color: blue;
        border-radius: 30px;
        padding-top: 15px;
    }
    .dot {
        width: 15px;
        height: 15px;
        border-radius: 8px;
        background-color: white;
        margin-left: -3px;
        margin-bottom: 60px;
    }
    .event {
        width: 70%;
        height: 90%;
        float: left;
        background-color: white;
    }
    .event-content {
        padding-top: 10px;
        margin-bottom: 5px;
        width: 100%;
        height: 60px;
    }
    .event-line-short {
        width: 10%;
        height: 10px;
        border-bottom: dotted;
        float: left;
    }
    .event-line-long {
        width: 15%;
        height: 10px;
        border-bottom: dotted;
        float: left;
    }

    .event-text {
        float: left;
        width: 250px;
        height: 50px;
        background-color: pink;
        border-radius: 10px;
    }

    @keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
</style>
<div class="about-wrapper">

    <!--<div class="about-nav">
        <div class="about-botton">
            <div class="triangle"></div>
            <div class="about-bottons">關於我</div>
        </div>
        <div class="about-botton">
            <div class="triangle"></div>
            <div class="about-bottons">技能</div>
        </div>
        <div class="about-botton">
            <div class="triangle"></div>
            <div class="about-bottons">經歷</div>
        </div>-->

    </div>
    <div class="self-portrait">
        <div class="my-self-portrait">
            <img src="./image/self-potrait.png">
        </div>
    </div>
    <div class="about-me">
        <div class="about-me-brief text">
            姓名：楊晴雯<br>
            學校台灣藝術大學 視覺傳達與設計學系 日間部三年級<br>
            現居地：新北 板橋
        </div>
        <div class="self-introduction text">
            <h3>關於我</h3>
            <p>我是楊晴雯，來自台東鹿野，有時活潑，有時放空而在自己的小宇宙，喜歡稀奇古怪的玩意兒。學習到新的創作方式就會非常開心，希望自己的創作或設計不止於平面，而是能有更多媒材之間的奇妙結合。我在這個學期申請了工藝系輔系，渴求學習到更多東西，我也希望有機會可以在這個暑假成為木工職人設計部門的實習生，運用我的所學－傳達設計，也可以學習到新的事物－木作工藝。</p>
        </div>
        <div class="my-skill text">
            <h3>專長技能</h3>
            <div class="circle"></div>
            <table>
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>

                <tr>
                    <th>平面設計編排</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Photoshop</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar PS">
                                <div class="label">熟練</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Illustration</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar AI">
                                <div class="label">熟練</div>
                            </div>
                        </div>
                    </td>               
                </tr>
                <tr>
                    <td>Indesign</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar ID">
                                <div class="label">普通</div>
                            </div>
                        </div>
                    </td>                
                    </tr>
            </table>

            <table>
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>
                <tr>
                    <th>3D建模</th>
                    <th></th>
                </tr>
                <tr>
                    <td>3D MAX</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar MAX">
                                <div class="label">QQ</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Mud Box</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar MD">
                                <div class="label">努力學習中</div>
                            </div>
                        </div>
                    </td>
                </tr>    
            </table>

            <table>
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>
                <tr>
                    <th>網頁製作</th>
                    <th></th>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar CSS">
                                <div class="label">努力學習中</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>
                    <div class="myProgress">
                        <div class="myBar HTML">
                            <div class="label">努力學習中</div>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>JAVASCRIPT</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar JS">
                                <div class="label">QQ</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="my-experience text">
            <h3>經歷</h3>
            <br>
        <div class="time">
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>
        </div>
        <div class="time-progress">
            <div class="time-bar">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div class="event">
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text"></div>
            </div>

        </div>
        </div>
        
    </div>
</div>

<script>
    document.getElementsByClassName('my-Bar-nav')[0].style.width = '100%';
</script>
