<!--我的自畫像ㄦ-->
<style type="text/css">
    .wrapper {
        max-width: 600px;
        width: 90%;
        margin: 0 auto;
        background-color: transparent;
        margin-top: 20px;
        animation-name: fade-in;
        animation-duration: 1s;
    }
    .about-nav {
        position: fixed;
        background-color: ;
        height: 120px;
        width: 120px;
        z-index: 10;
        right: 21%;
    }
    .triangle {
        width: 0px;
        height: 0px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #ccffee transparent transparent;
        position: absolute;
        margin-top: 3.5px;
        margin-left: -5px;
    }
    .about-bottons {
        width: 90%;
        margin-left: 10%;
        height: 36px;
        margin-bottom: 4px;
        background-color: #ccffee;
        border-radius: 4px;
        color: #009da3;
        padding-left: 10px;
        padding-top: 7px;
        cursor: pointer;
    }
    .about-botton:hover > .about-bottons {
        background-color: #009da3;
        color: white;
    }
    .about-botton:hover > .triangle {
        border-color: transparent #009da3 transparent transparent;
    }

    .self-portrait {
        margin: 0 auto;
        max-width: 480px;
        width: 100%;
        height: auto;
        background-color: white;
        padding-top: 20px;
        /*border-radius: 5px;
        border: 5px solid;
        border-color: #b2e1e3 #66c4c7 #66c4c7 #b2e1e3;*/
    }
    .my-self-portrait {
        max-width: 450px;
        width: 90%;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
    }
    .my-self-portrait > img {
        max-width: 100%;
        height: auto;
    }
    .about-me {
        margin-top: 30px;
        max-width: 450px;
        width: 90%;
        height: auto;
        background-color: white;
        margin: 0 auto;
        margin-top: 40px;
        padding: 30px 20px 40px 20px;
    }
    /*.about-me-icon {
        margin-right: 10px;
        margin-bottom: 50px;
        width: 200px;
        height: 50px;
        background-image: url('./image/about-me-icon.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        padding-left: 60px;
        padding-top: 10px;
    }
    .about-title {
        display: inline-block;
        background-color: blue;
        margin-top: -5px;
    }*/
    .self-introduction > p {
        line-height: 23px;
        text-indent: 28px;
        font-size: 14px;
        color: black;
        text-align: justify;
    }
    .about-me-brief {
        line-height: 30px;
        padding-bottom: 10px;
        color: #007f84;
    }
    .text {
        margin-bottom: 60px;
    }
    .text > h3 {
        font-size: 16px;
    }
    .skill {
        background-color: transparent;
        max-width: 400px;
        width: 95%;
        height: 150px;
        margin: 0 auto;
        margin-top: 40px;
        padding-bottom: 20px;
      }
    .skill > img {
        max-width: 100%;
        height: auto;
    }
     table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    th , td {
        text-align: left;
    }
    th {
        font-size: 14px;
        background-color: transparent;
        border-bottom: 1px solid #b2d8d9;
        padding: 12px;
    }
    td {
        font-size: 14px;
        padding: 12px;
    }
    tr:nth-child(even) {
        background-color: #e5f2f2;
    }
    .myProgress {
        margin-top: -2px;
        position: relative;
        max-width: 250px;
        width: 100%;
        height: 20px;
        border-radius: 10px;
        background-color: #00b6bd;
    }
    .myBar {
        margin-top: 2px;
        margin-left: 2px;
        position: absolute;
        height: 16px;
        border-radius: 8px;
        background-color: #ccffee;
        
    }
    .label {
        font-size: 10px;
        margin-top: 2px;
        margin-left: 15px;
        color: #005b5e;
    }
    .MAX {
        width: 20%;
    }
    .MD{
        width: 40%;
    }
    .PS {
        width: 80%;
    }
    .AI {
        width: 80%;
    }
    .ID {
        width: 60%;
    }
    .CSS {
        width: 40%;
    }
    .HTML {
        width: 40%;
    }
    .JS {
        width: 20%;
    }
    .my-experience {
        width: 100%;
        height: 650px;
        background-color: transparent;
    }
    .time {
        width: 25%;
        height: 100%;
        background-color: transparent;
        float: left;
        padding-top: 13px;
        padding-right: 5px;
    }
    .time-text {
        width: auto;
        height: 15px;
        background-color: transparent;
        margin-bottom: 60px;
        font-size: 15px;
    }
    .time-progress {
        width: 5%;
        margin-left: ;
        float: left;
        height: 100%;
        background-color: transparent;
    }
    .time-bar {
        width: 45%;
        height: auto;
        background-color: #00b6bd;
        border-radius: 30px;
        padding-top: 15px;
        padding-bottom: 18px;
    }
    .time-bar-short {
        width: 45%;
        height: 5%;
        background-color: #32c4ca;
        border-radius: 30px;
        margin-top: 5px;
    }
    .time-bar-more-short {
        width: 45%;
        height: 2%;
        background-color: #66d3d7;
        border-radius: 30px;
        margin-top: 5px;
    }
    .dot {
        width: 10px;
        height: 10px;
        border: solid 3px #00b6bd;
        border-radius: 10px;
        background-color: #ccffee;
        margin-left: -3.5px;
        margin-bottom: 59px;
    }
    /*.inside-dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #99e1e4;
        margin: 0 auto;*/
    }
    .event {
        width: 65%;
        height: 90%;
        float: left;
        background-color: transparent;
    }
    .event-content {
        padding-top: 10px;
        margin-bottom: 5px;
        width: 100%;
        height: 60px;
    }
    .event-line-short {
        width: 5%;
        height: 10px;
        border-bottom: dotted 3px #b2e9eb;
        float: left;
    }
    .event-line-long {
        width: 8%;
        height: 10px;
        border-bottom: dotted 3px #b2e9eb;
        float: left;
    }

    .event-text {
        float: left;
        max-width: 220px;
        width: 50%;
        height: auto;
        background-color: #b2e9eb;
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        line-height: 15px;
        text-align: justify;
        color: #00484b;
    }
    @media only screen and (max-width: 450px) {
    .self-introduction > p {
        line-height: 20px;
        text-indent: 25px;
        font-size: 12px;
    }
    th {
        font-size: 13px;
        padding: 5px;
        padding-bottom: 10px;
    }
    td {
        font-size: 12px;
        padding: 10px;
    }
    .label {
        font-size: 9px;
        margin-top: 2px;
        margin-left: 10px;
        color: #005b5e;
    }
    .event-text {
        font-size: 9px;
        margin-left: 10px;
    }
    .event-line-long {
        display: none;
    }
    .event-line-short {
        display: none;
    } 
    .time-text {
        width: auto;
        height: 15px;
        background-color: transparent;
        margin-bottom: 60px;
        font-size: 10px;
    }
    .about-me-brief {
        line-height: 20px;
        font-size: 15px;
        padding-bottom: 15px;
        color: black;
    }

    }
</style>
<div class="about-wrapper">

    <!--<div class="about-nav">
        <div class="about-botton">
            <div class="triangle"></div>
            <div class="about-bottons">關於我</div>
        </div>
        <div class="about-botton">
            <div class="triangle"></div>
            <div class="about-bottons">技能</div>
        </div>
        <div class="about-botton">
            <div class="triangle"></div>
            <div class="about-bottons">經歷</div>
        </div>-->

    </div>
    <div class="self-portrait">
        <div class="my-self-portrait">
            <img src="./image/self-portrait-2.png">
        </div>
    </div>
    <div class="about-me">
        <div class="about-me-brief text">
            姓名：楊晴雯<br>
            學校：台灣藝術大學
            視覺傳達與設計學系 日間部三年級<br>
            現居地：新北 板橋<br>
            Mail：sunny10210604@gmail.com
        </div>
        <div class="self-introduction text">
            <h3>▒░關於我░▒</h3>
            <p>我是楊晴雯，來自台東鹿野，有時活潑，有時放空而在自己的小宇宙，喜歡稀奇古怪的玩意兒，學習到新的創作方式就會非常開心，也喜歡觀察別人欣賞自己作品的反應。</p>
            <p>在大三時開始學習自己寫程式做網頁，當自己心中所想的效果被製作出來，便會感到相當有成就感，喜歡程式之間的理性與視覺之間的感性交融並找到共同概念時的驚喜！而我享受觀察使用者的反應，並改良網頁推向更好使用的過程，非常希望可以學習到更多 UI、UX 的學問
            </p>
        </div>
        <div class="my-skill text">
                <h3>▒░專長技能░▒</h3>
            <div class="skill">
                <img src="./image/skill.png">
            </div>
            <table>
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>

                <tr>
                    <th>▪ 平面設計</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Photoshop</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar PS">
                                <div class="label">熟練</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Illustration</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar AI">
                                <div class="label">熟練</div>
                            </div>
                        </div>
                    </td>               
                </tr>
                <tr>
                    <td>Indesign</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar ID">
                                <div class="label">普通</div>
                            </div>
                        </div>
                    </td>                
                    </tr>
            </table>

            <table>
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>
                <tr>
                    <th>▪ 3D建模</th>
                    <th></th>
                </tr>
                <tr>
                    <td>3D MAX</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar MAX">
                                <div class="label">QQ</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Mud Box</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar MD">
                                <div class="label">努力學習中</div>
                            </div>
                        </div>
                    </td>
                </tr>    
            </table>

            <table>
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>
                <tr>
                    <th>▪ 網頁製作</th>
                    <th></th>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar CSS">
                                <div class="label">努力學習中</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>
                    <div class="myProgress">
                        <div class="myBar HTML">
                            <div class="label">努力學習中</div>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>JAVASCRIPT</td>
                    <td>
                        <div class="myProgress">
                            <div class="myBar JS">
                                <div class="label">QQ</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="my-experience text">
            <h3>▒░經歷░▒</h3>
            <br>
        <div class="time">
            <div class="time-text">2013年</div>
            <div class="time-text">2013年9月-</div>
            <div class="time-text">2014年9~12月</div>
            <div class="time-text">2015年2~6月</div>
            <div class="time-text">2015年4月</div>
            <div class="time-text">2015年7~8月</div>
            <div class="time-text">2015年9月</div>
            <div class="time-text">2015年12月</div>
            <!--<div class="time-text">2014/6/3-</div>
            <div class="time-text">2014/6/3-</div>-->
        </div>
        <div class="time-progress">
            <div class="time-bar">
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <!--<div class="dot">
                    <div class="inside-dot"></div>
                </div>
                <div class="dot">
                    <div class="inside-dot"></div>
                </div>-->
            </div>
            <div class="time-bar-short"></div>
            <div class="time-bar-more-short"></div>
        </div>
        <div class="event">
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text">
                    台東女中美術班畢業，高三擔任畢業美展總召，並製作畢業畫冊。
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text">
                    進入國立台灣藝術大學視覺傳達設計學系日間部就讀。
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text">
                    在「城南藝事：漢字藝術展」擔任導覽員。
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text">
                    在台大藝術季與同伴成立玻璃工藝品牌「璃窩1314」，成為主要宣傳美編。
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text">
                    參與台藝大攝影社展覽-保鮮。
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text">
                    「匠藏工坊」暑期實習生。視覺設計，產品繪製，活動企劃，金工製作。
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text">
                    獲得「視傳系系展-跨圈圈」<br>
                    平面設計類-優選
                </div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text">
                    中華民國工業設計協會<br>
                    台北亮點設計-優選
                </div>
            </div>
            <!--<div class="event-content">
                <div class="event-line-short"></div>
                <div class="event-text"></div>
            </div>
            <div class="event-content">
                <div class="event-line-long"></div>
                <div class="event-text"></div>
            </div>-->

        </div>
        </div>
        
    </div>
</div>

<script>
    document.getElementsByClassName('my-Bar-nav')[0].style.width = '100%';
</script>
