
<style type="text/css">
    
.wrapper {
    height: 1200px;
    background-color: white;
}
.shadow {
    position: absolute;
    background-color: rgba(100 , 100, 100, 0.4);
    width: 300px;
    height: 300px;
    z-index: 1;
    display: none;
}
.shadow2 {
    position: absolute;
    background-color: rgba(100 , 100, 100, 0.4);
    width: 300px;
    height: 450px;
    z-index: 10;
    display: none;
}
.text {
    color: white;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: right;
    display: none;
}
.content1:hover .shadow {
    display:block;
}
.content1:hover .text {
    display:block;
}
.content2:hover .text {
    display:block;
}
.content2:hover .shadow2 {
    display: block;
}
.move:hover .shadow2{
    display: block;
}
.move:hover .shadow{
    display: block;
}
.move:hover .text{
    display: block;
}


</style>
    <div class="content">
        <div class="move move-left">
            <div class="shadow2" ng-click="showPopup('design-oops-mockup.gif')">
                <div class="text">OOPS試刊號</div>
            </div>
            <img src="../image/design-oops-icon.gif">
        </div><!--移動的元素，往左-->
        <div class="move move-bottom">
            <div class="shadow" ng-click="showPopup('design-sheishei.gif')">
                <div class="text">鞋協網站Logo設計</div>
            </div>
            <img src="../image/design-sheishei-icon.gif">
        </div><!--移動的元素，往下-->
        <div class="move move-right">
            <div class="shadow2" ng-click="showPopup('design-font.gif')">
                <div class="text">登鸛雀樓-字形設計</div>
            </div>
             <img src="../image/design-font-icon.gif">
        </div><!--移動的元素，往右-->
        <div class="content1">
            <div class="shadow" ng-click="showPopup('design-zombie-of-ntua.gif')">
                <div class="text">台藝大殭屍淪陷區ICON設計</div>
            </div>
            <img src="../image/design-zombie-of-ntua-icon.gif">
        </div>
        <div class="content2">
            <div class="shadow2">
                <div class="text">作品介紹</div>
            </div>
        </div>
        <div class="content1">
            <div class="shadow" ng-click="showPopup('design-glass1314.gif')">
                <div class="text">璃窩1314酷卡設計</div>
            </div>
            <img src="../image/design-glass1314-icon.gif">
        </div>
    </div>
    <div class="content">
        <div class="content2">
            <div class="shadow2" ng-click="showPopup('design-magazine-of-travel.gif')">
                <div class="text">台南小旅行</div>
            </div>
            <img src="../image/design-magazine-of-travel-icon.gif">
        </div>
        <div class="content1">
            <div class="shadow">
                <div class="text">作品名稱</div>
            </div>
        </div>
        <div class="content2">
            <div class="shadow2" ng-click="showPopup('design-life-sketchy.gif')">
                <div class="text">作品名稱</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content1">
            <div class="shadow" ng-click="showPopup('design-fathersday-card.gif')">
                <div class="text">匠藏工坊 父親節卡片計畫</div>
            </div>
            <img src="../image/design-fathersday-card-icon.gif">
        </div>
        <div class="content2">
            <div class="shadow2">
                <div class="text">作品名稱</div>
            </div>
        </div>
        <div class="content1">
            <div class="shadow" ng-click="showPopup('design-life-sketchy.gif')">
                <div class="text">Life Sketchy 展覽邀請卡設計</div>
            </div>
            <img src="../image/design1.png">           
        </div>
    </div>
<script type="text/javascript">
    var design01 {
        images = "sayhi"
        title = "標題1"
        introduce = "內容介紹"
    }
</script>
