<style type="text/css">
    
.wrapper {
    height: 1200px;
    background-color:white;
}

</style>

<div class="content">
    <div class="move move-left"></div><!--移動的元素，往左-->
    <div class="move move-bottom"></div><!--移動的元素，往下-->
    <div class="move move-right"></div><!--移動的元素，往右-->
    <div class="content1">
        <img src="../image/design1.png">
    </div>
    <div class="content2"></div>
    <div class="content1"></div>
</div>
<div class="content">
    <div class="content2"></div>
    <div class="content1"></div>
    <div class="content2"></div>
</div>
<div class="content">
    <div class="content1"></div>
    <div class="content2"></div>
    <div class="content1"></div>
</div>